body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}

.name{
    margin:10px;
    font-size:25px;
}

.restaurants{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width:100%;
}
.restaurant{
    border: solid 1px black;
    box-sizing: border-box;
    border: dotted 1px #CCC; 
    width: 35vh; 
    height: 70vh; 
    margin: 20px;
    float:left;

}
.address{
    margin:10px;
}

.info{
    margin-left:15px;
    margin-top:10px;
    margin-bottom:10px;
}

.image{
    width: 35vh;
    height:35vh
}
@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}