body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.box{
    border: solid 1px black;
    box-sizing: border-box;
    border: dotted 1px #CCC; 
    width: 50vh;
    height: 80vh; 
    display: inline-block;
    margin:10px;

}

.image{
    max-width:100%;
    max-height:100%;
}

.title{
    padding: 10px;
    margin: 10px;
}

.text{
    padding: 10px;
    margin: 10px;
}

.button{
    margin-left: 10px;
}
/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    .box{
        width: 30vh;
        height: 45vh;
    }
    
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    .box{
        display:block;
        width: 40vh;
        height: 60vh;
    }
    
}