body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    border: solid 1px black;
    box-sizing: border-box;
    border: dotted 1px #CCC; 
    width: 50vh;
    height: 70vh;   
}

.image{
    max-width:100%;
    max-height:100%;
}

.title{
    padding: 10px;
    margin: 10px;
}

.text{
    padding: 10px;
    margin: 10px;
}

.button{
    margin: 10px;
}
